<div class="main">

  <div class="details">

    <h3>Graham Ramsey</h3>

    <p class="grey">
      A short description goes here...
    </p>

    <%= link_to "Resume", asset_path("resume.pdf"), target: "_blank" %>

  </div>

</div>
