<div class="main">

  <div class="details">

    <h3>Graham Ramsey</h3>

    <%= image_tag "graham-speaking-2.png" %>

    <p>
      Hello!
      I'm Graham. I like software, open source, user experience, and doing presentations.
    </p>

    <p>
      Drop me a line!
        <span class="contact">g at graham dot li</span>
        <span class="contact"><%= link_to '@element119', 'https://twitter.com/element119', target: "_blank" %></span>
    </p>

    <%= link_to "Résumé", asset_path("resume.pdf"), class: "button", target: "_blank" %>

    <p class="small center">
      Copyleft <span class="copyleft">&copy;</span> <%= Time.now.year %> Graham Ramsey<br/>
      <span class="jacob">4 8 15 16 23 42</span>
    </p>

  </div>


</div>
