@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
 }

 .center{
   text-align:center;
 }

div.main{

  @include grid-row;

  div.details{

    @include grid-column($columns: 6, $offset: 3);
    margin-top: 1em;

    p{
      @extend .grey;
    }

    img{
      margin: 1.5em 0em;
    }

    span.contact{
      @include label($text-size: .8em, $bg: $aluminum);
      a:link, a:hover, a:visited{
        color: #eee;
      }
    }

    p.small{
      font-size: .8em;
      span.copyleft{
        @include rotate(180);
        display: inline-block;
      }
      span.jacob{
        font-weight: bold;
        color: #bbb;
      }
    }

  }

}
